{# Author: Ivan Tsiareshkin, xtsiar00 #}
{% extends 'shelter/base.html' %}
{% load static %}
{% block popupform %}
    <div class="popup__body">
        <div class="popup__content">
           <a href="" class="popup__close close-popup">X</a>
            <div class="popup__title">Add animal</div>
            <div class="popup__text">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'shelter/js/popups.js' %}"></script>
{% endblock popupform %}
