{# Author: Dmytro Sadovskyi, xsadov06 #}
{% extends 'shelter/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div id="filters">
        <h3>Find your best friend</h3>
        <form id="filter">
            <div class="row">
                <div class="animal_filters">
                    <select class="form-control" name="show" onchange="page_change(1)">
                        <option value="all" selected="selected">Select all</option>
                        <option value="fav">Select favorite</option>
                    </select>
                </div>
                <div class="animal_filters">
                    <select class="form-control" name="kind" id="kind" onchange="page_change(1)">
                        <option value="" selected="selected">Kind</option>
                        <option value="cat">Cat</option>
                        <option value="dog">Dog</option>
                    </select>
                </div>
                <div class="animal_filters">
                    <select class="form-control" name="gender" onchange="page_change(1)">
                        <option value="" selected="selected">Genger</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="animal_filters">
                    <select class="form-control" name="age" onchange="page_change(1)">
                        <option value="" selected="selected">Age</option>
                        <option value="baby"><1</option>
                        <option value="teen">1-5</option>
                        <option value="adult">>5</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <br>

    <div class="row", id="animal_list">
    </div>
    <nav class="list-pages" id="pagelist">
    </nav>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'shelter/js/scripts.js' %}"></script>
{% endblock javascript %}
