{% extends 'shelter/base.html' %}

{% block content %}
<div class="container">
    <div id="filters">
        <h1>{{title}}</h1>
        <form method="get">
            <div class="select-row">
                <div class="animal_filters">
                    <select class="select-walk" name="status" id="status">
                        <option value="all">Walk status</option>
                        <option value="free">free</option>
                        <option value="not confirmed">not confirmed</option>
                        <option value="confirmed">confirmed</option>
                        <option value="started">started</option>
                        <option value="end">end</option>
                    </select>
                </div>
                Date:&nbsp<input type="date" name="date"/>
                <div class="animal_filters">
                    <button type="submit" class="animal_btn">Find</button>
                </div>
            </div>
        </form>
        {{error}}
    </div>
    <br>
    <table>
        <tr>
            <th>Animal&nbsp&nbsp</th>
            <th>Start&nbsp&nbsp</th>
            <th>End&nbsp&nbsp</th>
        </tr>
    {% for walk in walks %}
        <tr>
            <th></th>
            <th>{{walk.starting|date:"d.m.Y H:i"}} | </th>
            <th>{{walk.ending|date:"d.m.Y H:i"}} | </th>
        
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
