{% extends 'shelter/base.html' %}
{% block content %}
    {% if user.position == "admin" %}
        <a href="adduser">Add user</a> <br><br>
    {% endif %}
    <div id="filters">
        <h1>{{title}}</h1>
        <form method="get">
            <div class="seelct-row">
                <div class="animal_filters">
                    <select class="select-walk" name="position" id="position">
                        <option value="">All</option>
                        <option value="unverified">Unverified</option>
                        <option value="verified">Verified</option>
                        <option value="vet">Vet</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="animal_filters">
                    <button type="submit" class="animal_btn">Find</button>
                </div>
            </div>
        </form>
    </div>
<br>
        {% for account in accounts %}
            username : <a href="{% url 'show_user' account.username %}">{{account.username}}</a><br>
            Name     : {{account.name}}<br>
            Surname  : {{account.surname}}<br>
            email    : {{account.email}}<br>
            status   : {{account.position}}<br><br>
        {% endfor %}
{% endblock %}
