{% extends 'shelter/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<table>
    <tr>
        <th>Start&nbsp&nbsp</th>
        <th>End&nbsp&nbsp</th>
        <th>Animal&nbsp&nbsp</th>
        <th>Status</th>
    </tr>
{% for walk in walks %}
    <tr>
        <th> {{walk.starting|date:"d.m.Y H:i"}} |</th>
        <th>{{walk.ending|date:"d.m.Y H:i"}} | </th>
        <th>
            <a href="{% url 'animal' walk.animal_id %}">{{walk.animal.name}}</a>
        </th>
        <th>{{walk.status}}</th>
        <th>
            {% if walk.status == 'free' and walk.walker_id == None %}
            <a href="{% url 'user_walks' pk %}?register=1&walk={{walk.pk}}">Register</a>
            {% elif walk.status == 'confirmed' or walk.status == 'not confirmed' and walk.walker_id == user.pk  %}
            <a href="{% url 'user_walks' pk %}?register=0&walk={{walk.pk}}">cancel</a>
            {% endif %}
        </th>
    </tr>
{% endfor %}
</table>
{% endblock %}
