{% extends 'shelter/base.html' %}

{% block content %}
    {% if account.deleted == False %}
    username : {{account.username}}<br>
    Name     : {{account.name}}<br>
    Surname  : {{account.surname}}<br>
    email    : {{account.email}}<br>
    status   : {{account.position}}
    {% if account.position == "verified" %}
        <a href="{% url 'show_user' account.username %}?verify=0">unverify</a>
    {% elif  account.position == "unverified" %}
        <a href="{% url 'show_user' account.username %}?verify=1">verify</a>
    {% endif %}
    <br>
    {% if user.position == "admin" %}
        <a href="{% url 'user_edit' account.username %}">Edit user</a>
        <a href="{% url 'show_user' account.username %}?delete=1">Delete user</a>
    {% endif %}
    {% else %}
    Deleted account
    {% endif %}
{% endblock %}
