{% extends 'shelter/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<table>
    <tr><th>Start</th><th>End</th><th>Volunteer</th><th>Status</th><th></th></tr>
{% for walk in walks %}
    <tr>
        <th> {{walk.starting|date:"d.m.Y H:i"}}</th>
        <th>{{walk.ending|date:"d.m.Y H:i"}}</th>
        <th>
            {% if walk.walker_id%}
                {{walk.walker.username}}
            {% endif %}
        </th>
        <th>{{walk.status}}</th>
        <th>
            {% if walk.status == 'not confirmed' and walk.walker_id == None %}
            <a href="{% url 'user_walks' pk %}?register=1&walk={{walk.pk}}">Register</a>
            {% elif walk.status == 'confirmed' and walk.walker_id == user.pk  %}
            <a href="{% url 'user_walks' pk %}?register=0&walk={{walk.pk}}">cancel</a>
            {% endif %}
        </th>
    </tr>
{% endfor %}
</table>
{% endblock %}
