{% extends 'shelter/base.html' %}

{% block content %}
    Animal  : <a href="{% url 'animal' task.animal_id %}">{{task.animal.name}}</a><br>
    Created : {{task.created|date:"d.m.Y H:i"}}<br>
    Start   : {{task.task_start|date:"d.m.Y H:i"}}<br>
    End     : {{task.task_end|date:"d.m.Y H:i"}}<br>
    Vet     :
    {% if task.vet_id and user.position == 'employee' %}
        <a href="{% url 'show_user' task.vet_id %}">{{task.vet.username}}</a>
    {% else %}
        {{task.vet.username}}
    {% endif %}
    <br>
    Status  : {{task.status}}<br>
    Description :<br>
    {{task.description}}<br>
    {% if task.status == "created" %}
        <form method="post">
            {% csrf_token %}
            {% if user.position == 'vet' %}
                <input type="hidden" name="take" value="1">
                <p><label class="form-label" for="id_starting">Beginning time: </label><input type="datetime-local" name="starting" required id="id_starting"></p>
                <p><label class="form-label" for="id_ending">End time: </label><input type="datetime-local" name="ending" required id="id_ending"></p>
                <button type="submit">Take</button>
            {% endif %}
        </form>
        {{error}}<br>
    {% elif  task.status == "scheduled" and user.pk == task.vet_id %}
        <a href="{% url 'task' task.pk %}?cancel=1">Cancel</a> | <a href="{% url 'task' task.pk %}?end=1">End</a>
    {% endif %}
{% endblock %}
